.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 6.4vh;
}

.loader {
  animation: spin 1s linear infinite;
  position: absolute;
}

.reloj {
  position: absolute;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
