.project-title {
  margin: 2vh 0 5vh 2vh;
}

.project-title h2 {
  font-size: 40px;
  color: white;
  font-weight: 600;
  margin-bottom: 2vh;
}

.project-title p {
  font-size: 20px;
  margin: 0;
}

.div-icons {
  display: flex;
  justify-content: center;
  height: 100%;
}
.div-staff img {
  width: 113px;
  height: 96px;
}

.div-task,
.div-alert,
.div-staff {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 32px;
}

.div-buttons {
  display: flex;
  justify-content: space-around;
}
.button-container {
  position: relative;
  display: inline-block;
}

.loadingSpinner {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%) scale(0.5);
}
.button-solicitud {
  width: 50px;
  margin-right: 20px;
  background-color: transparent;
  border: solid transparent 2px;
}
.button-solicitud:hover {
  transform: scale(1.1);
}
.project-title-button {
  display: flex;
  justify-content: space-between;
}
.space {
  height: 50px;
}
